version: '3'

services:
    db:
        image: postgres
        container_name: sharewise-db
        restart: always

        environment:
            POSTGRES_DB: sharewise
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - 5432:5432
volumes:
    pgdata:
